@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: "Bebas Neue", sans-serif;
}
.div-1 {
  height: 400px;
  background: url(https://th.bing.com/th/id/R.25e937083406c94e55da0de60a1cfcc1?rik=0HEyQ3ecPI9GZQ&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2fc%2fc8%2fAltja_j%c3%b5gi_Lahemaal.jpg&ehk=BlRsLAc9eb%2fpuXQO2L6zTYRs1h5rFkNp2wDTWNv8%2fZY%3d&risl=1&pid=ImgRaw&r=0);
  background: url(https://images.unsplash.com/photo-1541471943749-e5976783f6c3?auto=format&fit=crop&q=80&w=1742&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: 350px;
  background-size: contain;
  background-size: cover;

  /* background size */
  /* background-size:150px,50px; */

  /* width,height,automatically adjust */

  background-size: 150px;
  /* background repeat this is for repeating image */
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: repeat;
  background-repeat: no-repeat;

  /* baground position */
  background-position: top left;
  background-position: top right;
  background-position: bottom left;
  background-position: bottom right;
  background-position: left center;
  background-position: right center;
  background-position: center center;

  border: 3px solid red;
}

.div-2 {
  height: 75vh;
  background: url(https://images.unsplash.com/photo-1585655424391-b6d0b04d958e?auto=format&fit=crop&q=80&w=1740&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
.main-heading {
  font-size: 6rem;
  letter-spacing: 2px;
  color: rgb(252, 129, 129);
  text-align: center;
  padding-top: 8rem;
  text-shadow: 0px 2px 24px black;
}
