body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  color: green;
  text-transform: uppercase;
  background-color: lightgreen;
  padding: 0.75rem 1rem;
  border: 4px solid green;
  border-radius: 6px;

  /* transition-property: transform, color, background-color; */
  transition-property: all;
  transition-duration: 0.3s;
  /* same */
  transition-timing-function: linear;

  transition-timing-function: steps(2);
  /* default */
  transition-timing-function: ease;
  /* end-fast */
  transition-timing-function: ease-in;
  /* starting-fast */
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.btn:hover {
  color: green;
  background-color: lightsalmon;
  border: 2px solid rgb(198, 70, 27);
  /* transform: scale(0.9); */
  /* transform: translate(2rem); */
  transform: rotate(25deg) scale(1.1);
}
